@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Extra spacing for all <p> on kefir-care page */
.kefir-care-content p {
  margin-bottom: 1.5em;
}

.kefir-care-content ul {
	list-style: disc;
	list-style-position: inside;
	margin-bottom: 1.5em;
}

.kefir-care-content ol {
	list-style: decimal;
	list-style-position: inside;
	margin-bottom: 1.5em;
}
